Flask==0.8
Flask-MongoEngine==0.1.3-dev
Flask-WTF==0.6
Jinja2==2.6
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
gevent==0.13.7
greenlet==0.3.4
gunicorn==0.14.3
mongoengine==0.6.10
pymongo==2.2
wsgiref==0.1.2